<app-navbaroffline *ngIf="getSessionInfos() == null"></app-navbaroffline>
<app-navbaronline *ngIf="getSessionInfos() != null"></app-navbaronline>

<!-- This example requires Tailwind CSS v2.0+ -->
<div class="px-4 sm:px-6 lg:px-8 mt-12">
    <div class="flex items-center">
        <div class="sm:flex-auto" align="center">
        <h1 class="text-5xl font-semibold text-gray-100 "><span class="font-mono text-green-500">
          Get more traffic with Traffikee </span></h1>
        <br>
        <p class="mt-2 text-xl text-gray-200 w-auto font-mono">
            "The more points you earn, the more up you go
            <br>
            The more up you go, the more traffic you get"
            <br>- 
            <li class="list-none">1 clic : 1 point</li>
            <li class="list-none">1 euro : 100 points</li>
            <button *ngIf="getSessionInfos() != null" routerLink="/addwebsite" type="button" class="mt-10 font-mono inline-flex items-center justify-center rounded-md border border-transparent bg-green-600 px-4 py-2 text-lg font-medium text-white shadow-sm hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 sm:w-auto text-green-800 hover:text-green-900">
                Add your website
              </button>
              <button *ngIf="getSessionInfos() != null" routerLink="/profil" type="button" class="ml-2 mt-10 font-mono inline-flex items-center justify-center rounded-md border border-transparent bg-slate-600 px-4 py-2 text-lg font-medium text-white shadow-sm hover:bg-slate-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 sm:w-auto text-slate-800 hover:text-slate-900">
                Buy points
              </button>
              


              <button *ngIf="getSessionInfos() == null" routerLink="/login" type="button" class="mt-10 font-mono inline-flex items-center justify-center rounded-md border border-transparent bg-green-600 px-4 py-2 text-lg font-medium text-white shadow-sm hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 sm:w-auto text-green-800 hover:text-green-900">
                Sign in to add your website
              </button>

              <button *ngIf="getSessionInfos() == null" routerLink="/register" type="button" class="ml-2 mt-10 font-mono inline-flex items-center justify-center rounded-md border border-transparent bg-slate-600 px-4 py-2 text-lg font-medium text-white shadow-sm hover:bg-slate-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 sm:w-auto text-slate-800 hover:text-slate-900">
                Sign up
              </button>

          
      </div>
      
    </div>

    

<app-ranking></app-ranking>




<section class="py-12 md:py-20 px-6 md:px-0 bg-slate-900">
  <div class="m-auto max-w-default">
    <div class="text-center">
      <h2 class="md:text-5xl text-3xl text-gray-200 font-bold"> Have any Questions ?</h2>
    </div>
    <div class="mt-10 md:mt-16">
      <div class="md:max-w-3xl m-auto" *ngFor="let question of faq">
        <details class="border-b-2">
          <summary class="p-4 text-gray-200 font-bold cursor-pointer pt-5 mb-1 text-lg focus:text-gray-300">{{ question.question}}</summary>
          <p class="py-2 px-3 text-gray-200">{{ question.answer}}</p>
        </details>
        
        </div>
    </div>
  </div>
</section>