<app-navbaroffline *ngIf="getSessionInfos() == null"></app-navbaroffline>
<app-navbaronline *ngIf="getSessionInfos() != null"></app-navbaronline>


<div class="px-4 sm:px-6 lg:px-8 mt-12">
  <div class="flex items-center m-10 flex-col sm:flex-col lg:flex-row md:flex-col ">
      <div class="sm:flex-auto" align="center">
      <h1 class="text-3xl font-semibold text-gray-100 " *ngIf="ItemsArray.length != 0"><span class="font-mono text-green-500">That's some beautiful websites 👀</span></h1>
      <br>
      <p class="mt-2 text-xl text-gray-200 w-auto font-mono">
         <div  *ngIf="ItemsArray.length != 0" class="mt-2 text-xl text-gray-200 w-auto font-mono"> This is a list of your websites, you can delete them by clicking the little bin icon at the end of the line </div>
         <div  *ngIf="ItemsArray.length == 0" class="mt-2 text-2xl text-red-500 w-auto font-mono"> You do not have any websites, add one.</div>
         <br> <br>
        <div *ngIf="ItemsArray.length != 0" class="mt-2 text-xl text-gray-200 w-auto font-mono">Clic on websites on the <a routerLink="/home" class="text-green-500">Dashboard</a> to get points</div> 
          
          

         <br>
         <br>
          <button *ngIf="ItemsArray.length != 0" routerLink="/addwebsite" type="button" class="m-10 font-mono inline-flex items-center justify-center rounded-md border border-transparent bg-green-600 px-4 py-2 text-lg font-medium text-white shadow-sm hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 sm:w-auto text-green-800 hover:text-green-900">
              Add a website
            </button>
            

        
    </div>
    
<div class="m-8 flex flex-col lg:w-1/2 w-full m-auto w-full overscroll-contain" *ngIf="ItemsArray.length == 0">
    <div class="-my-2 -mx-4 overflow-x-auto sm:-mx-6 lg:-mx-8 grow">
      <div class="inline-block min-w-full py-2 align-middle md:px-6 lg:px-8">
        <div class="overflow-hidden shadow ring-1 ring-black ring-opacity-5 md:rounded-lg">



          <button routerLink="/addwebsite" type="button" class="relative block w-full border-2 border-gray-300 border-dashed rounded-lg p-12 text-center hover:border-gray-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
            <i class="fa-solid fa-globe text-gray-100 fa-2xl"></i>
            <span class="mt-2 block text-sm font-medium text-gray-100"> Add a website</span>
          </button>


        </div>
      </div>


  </div>
</div>

<div *ngIf="ItemsArray.length != 0">
          <table class="min-w-full divide-y divide-gray-300 ">
            <thead class="bg-gray-50">
              <tr>
                  <th *ngFor = "let column of headers" class="font-mono py-3 pl-4 pr-3 text-left text-xs font-medium uppercase font-extrabold tracking-wide text-gray-500 sm:pl-6">
                      {{column}}
                    </th>

                
              </tr>
            </thead>

<tbody class="divide-y divide-gray-200 bg-white">
<tr *ngFor="let data of ItemsArray, let i = index">
  <td class="whitespace-nowrap px-3 py-4 text-sm text-blue-600 font-extrabold font-mono cursor-not-allowed">{{ data.rank}}</td>
  <td class="whitespace-nowrap px-3 py-4 text-sm text-blue-600 font-extrabold font-mono cursor-not-allowed">{{data.url}}</td>
  <td class="whitespace-nowrap px-3 py-4 text-sm text-slate-600 font-extrabold font-mono">{{data.points | number : '0.0-0'}}</td>
  <td class="whitespace-nowrap px-3 py-4 text-sm text-green-600 font-extrabold font-mono">
    <button *ngIf="user[0].points > 0" class="text-green-200 cursor-pointer font-bold bg-green-600 p-2 rounded-lg" (click)="addpoints(data._id, user[0].points)">Allocate {{ user[0].points }} points</button>
    <button *ngIf="user[0].points == 0" class="text-gray-200 cursor-not-allowed font-bold bg-gray-600 p-2 rounded-lg">you have no points</button>
  </td>
  <td class="whitespace-nowrap px-3 py-4 text-sm  font-mono">
    <input type="hidden" ngModel="{{ data._id }}" >
    <button class="text-red-500 cursor-pointer " (click)="delete(data._id)"><i class="fa-solid fa-trash-can"></i></button>
  </td>
</tr>

              

               
              <!-- More people... -->
            </tbody>
        
          </table>



        </div> <!-- If data exists -->
        





        </div>
      </div>
    

