<app-navbaroffline *ngIf="getSessionInfos() == null"></app-navbaroffline>
<app-navbaronline *ngIf="getSessionInfos() != null"></app-navbaronline>


<div class="px-4 sm:px-6 lg:px-8 mt-12">
  <div class="flex items-center flex-col sm:flex-row">
      <div class="sm:flex-auto" align="center">
      <h1 class="text-3xl font-semibold text-gray-100 "><span class="font-mono text-green-500">That's some beautiful websites 👀</span></h1>
      <br>
      <p class="mt-2 text-xl text-gray-200 w-auto font-mono">
          This is a list of your websites, you can delete them by clicking <button class="text-red-500 cursor-pointer">"delete"</button>
         <br> Be careful, <span class="text-red-500">there is no warning <i class="fa-duotone fa-triangle-exclamation"></i></span>

         <br>
         <br>
          <button *ngIf="getSessionInfos() != null" routerLink="/addwebsite" type="button" class="mt-10 font-mono inline-flex items-center justify-center rounded-md border border-transparent bg-green-600 px-4 py-2 text-lg font-medium text-white shadow-sm hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 sm:w-auto text-green-800 hover:text-green-900">
              Add a website
            </button>
            

        
    </div>

<div class="mt-8 flex flex-col w-1/2 m-auto">
    <div class="-my-2 -mx-4 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="inline-block min-w-full py-2 align-middle md:px-6 lg:px-8">
        <div class="overflow-hidden shadow ring-1 ring-black ring-opacity-5 md:rounded-lg">
          <table class="min-w-full divide-y divide-gray-300">
            <thead class="bg-gray-50">
              <tr>
                  <th *ngFor = "let column of headers" class="font-mono py-3 pl-4 pr-3 text-left text-xs font-medium uppercase font-extrabold tracking-wide text-gray-500 sm:pl-6">
                      {{column}}
                    </th>

                
              </tr>
            </thead>
<tbody class="divide-y divide-gray-200 bg-white">
<tr *ngFor="let data of ItemsArray">
  <td class="whitespace-nowrap px-3 py-4 text-sm text-blue-600 font-extrabold font-mono"><a href="{{data.url}}" target="blank()">{{data.url}}</a></td>
  <td class="whitespace-nowrap px-3 py-4 text-sm text-slate-600 font-extrabold font-mono">{{data.points}}</td>
  <td class="whitespace-nowrap px-3 py-4 text-sm  font-mono">
    <input type="hidden" ngModel="{{ data._id }}" >
    <button class="text-red-500 cursor-pointer" (click)="delete(data._id)">delete</button>
  </td>
</tr>

              

               
              <!-- More people... -->
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

