.app-splash-screen {
    background: #22c55e;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 100;
    transition: left 0.5s;
  }
  
  .app-label {
    
    color: #fff;
    font-size: 3em;
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  }
  
  .app-splash-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .app-logo {
      /*background: url("./../../assets/three-dots.svg"); */
    background-repeat: no-repeat;
    max-width: 100%;
    background-position: center;
    background-size: contain;
    width: 30px;
    height: 30px;
    color: #fff;
    font-size: 20px;
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  }
  
  .app-loader {
   
    background-repeat: no-repeat;
    max-width: 50%;
    background-position: center;
    background-size: contain;
    width: 40px;
    height: 40px;
    
  }

sup{
    font-size: 15px;
  }