<app-navbaroffline *ngIf="getSessionInfos() == null"></app-navbaroffline>
<app-navbaronline *ngIf="getSessionInfos() != null"></app-navbaronline>





<!-- component -->
<!-- component -->
<div class="bg-slate-900 min-h-screen pt-2 font-mono my-16">
    <div class="container mx-auto">
        <div class="inputs w-full max-w-2xl p-6 mx-auto">
            <h2 class="text-2xl text-gray-100">Account Settings</h2>
            <form class="mt-6 border-t border-gray-400 pt-4">
                <div class='flex flex-wrap -mx-3 mb-6'>
                    <div class='w-full md:w-full px-3 mb-6'>
                        <label class='block uppercase tracking-wide text-gray-200 text-xs font-bold mb-2' for='grid-text-1'>
                            email address</label>
                        <input value="{{ user[0].email }}" type class='appearance-none block w-full bg-white text-gray-900 border border-gray-400 shadow-inner rounded-md py-3 px-4 leading-tight focus:outline-none  focus:border-gray-500' id='grid-text-1' type='text' placeholder='Enter new email'  required>
                    </div>
                    <div class='w-full md:w-full px-3 mb-6'>
                        <label class='block uppercase tracking-wide text-gray-200 text-xs font-bold mb-2' for='grid-text-1'>
                            password</label>
                        <input value="{{ user[0].password }}" class='appearance-none block w-full bg-white text-gray-900 border border-gray-400 shadow-inner rounded-md py-3 px-4 leading-tight focus:outline-none  focus:border-gray-500' id='grid-text-1' type='password' placeholder='Enter new password'  required>
                    </div>
                    </div>
                    <div class="flex justify-end">
                        <button (click)="rewindHistory()"  class="appearance-none bg-red-500 text-gray-900 px-4 py-2  rounded-md mr-3" type="submit">
                            Cancel <i class="fa-solid fa-xmark"></i></button>

                        <button class="appearance-none bg-green-500 text-gray-900 px-4 py-2  rounded-md mr-3" type="submit">
                            save changes <i class="fa-solid fa-check"></i></button>

                    </div>
            </form>
        </div>











        



        <div class="inputs w-full max-w-2xl p-6 mx-auto m-20">
            <h2 class="text-2xl text-gray-100  mb-5">Buy points</h2>
            
            <div class="border-t border-gray-400">
            <div class="flex justify-end mt-10 ">
                <button  routerLink="/payment" class="appearance-none bg-green-500 text-gray-900 px-4 py-2  rounded-md mr-3 text-xl" type="submit">
                    100 point  (1€)
                </button>

                <button   class="appearance-none bg-green-500 text-gray-900 px-4 py-2  rounded-md mr-3 text-xl">
                    1000 point  (10€)
                </button>

                <button  class="appearance-none bg-green-600 text-gray-900 px-4 py-2  rounded-md mr-3 text-xl">
                    10 000 point  (80€)
                </button>


            </div>
        </div>

        </div>
    </div>
</div>