<app-navbaroffline *ngIf="getSessionInfos() == null"></app-navbaroffline>
<app-navbaronline *ngIf="getSessionInfos() != null"></app-navbaronline>






<!-- component -->
<div class="bg-slate-900 min-h-screen pt-2 font-mono my-16">
    <div class="container mx-auto">
        <div class="inputs w-full max-w-2xl p-6 mx-auto">
            <h2 class="text-2xl text-slate-500">Account Settings</h2>
            <form class="mt-6 border-t border-gray-400 pt-4">
                <div class='flex flex-wrap -mx-3 mb-6'*ngFor="let user of users">
                    <div class='w-full md:w-full px-3 mb-6' >
                        <label class='block uppercase tracking-wide text-gray-200 text-xs font-bold mb-2' for='grid-text-1'>
                            email address</label>
                        <input value="{{ user.email }}"   type class='appearance-none block w-full bg-white text-gray-900 border border-gray-400 shadow-inner rounded-md py-3 px-4 leading-tight focus:outline-none  focus:border-gray-500' id='grid-text-1' type='text' placeholder='Enter new email'  required>
                    </div>
                    <div class='w-full md:w-full px-3 mb-6'>
                        <label class='block uppercase tracking-wide text-gray-200 text-xs font-bold mb-2' for='grid-text-1'>
                            password</label>
                        <input value="{{ user.password }}" class='appearance-none block w-full bg-white text-gray-900 border border-gray-400 shadow-inner rounded-md py-3 px-4 leading-tight focus:outline-none  focus:border-gray-500' id='grid-text-1' type='password' placeholder='Enter new password'  required>
                    </div>
                    </div>
                    <div class="flex justify-end">
                        <button (click)="rewindHistory()"  class="appearance-none bg-red-500 text-gray-900 px-4 py-2  rounded-md mr-3" type="submit">
                            Cancel <i class="fa-solid fa-xmark"></i></button>

                        <button class="appearance-none bg-green-100 text-gray-900 px-4 py-2  rounded-md mr-3 cursor-not-allowed" type="submit">
                            save changes <span class="inline-flex items-center justify-center px-2 py-1 mr-2 text-xs font-bold leading-none text-red-100 bg-red-600 rounded-full">coming soon</span></button>

                    </div>
            </form>
        </div>











        



        <div class="w-full max-w-2xl p-6 mx-auto ">
            <h2 class="text-2xl text-slate-500  mb-5">Buy points</h2>
            
            <div class="border-t border-gray-400">
            <div class="flex justify-end mt-10 ">
                <a  href="https://buy.stripe.com/test_5kA5mzc08awv9FK7ss" class="appearance-none bg-green-500 text-gray-900 px-4 py-2  rounded-md mr-3 " type="submit">
                    100 point  (1€)
                </a>

                <a  href="https://buy.stripe.com/test_28o8yL5BK0VV2di7st" class="appearance-none bg-green-500 text-gray-900 px-4 py-2  rounded-md mr-3 ">
                    1000 point  (10€)
                </a>

                <a href="https://buy.stripe.com/test_aEUdT5aW4343dW0eUW" class="appearance-none bg-green-600 text-gray-900 px-4 py-2  rounded-md mr-3 ">
                    10 000 point  (80€)
                </a>
                <!-- 
                <button  class="appearance-none bg-green-700 text-gray-900 px-4 py-2  rounded-md mr-3 ">
                    100 000 point  (500€)
                </button>
                -->
            </div>
        </div>

        </div>




<!-- Delete account -->
        <div class="w-full max-w-2xl p-6 mx-auto ">
            <h2 class="text-2xl text-slate-500  mb-5">Delete account </h2>
            
            <div class="border-t border-gray-400 mb-10">
                <br>
                
            <div class="flex justify-end mt-10 ">
                

                <button (click)="toggleModal()" class="appearance-none bg-red-500 text-red-900 px-4 py-2  rounded-md mr-3 ">
                    Delete account <i class="fa-solid fa-triangle-exclamation"></i>
                </button>
                <!-- 
                <button  class="appearance-none bg-green-700 text-gray-900 px-4 py-2  rounded-md mr-3 ">
                    100 000 point  (500€)
                </button>
                -->
            </div>
        </div>

        </div>


    </div>
</div>



















<!-- Modal delete your account -->
<!-- This example requires Tailwind CSS v2.0+ -->
<div *ngIf='isModal' class="fixed z-10 inset-0 overflow-y-auto" aria-labelledby="modal-title" role="dialog" aria-modal="true">
    <div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
      <!--
        Background backdrop, show/hide based on modal state.
  
        Entering: "ease-out duration-300"
          From: "opacity-0"
          To: "opacity-100"
        Leaving: "ease-in duration-200"
          From: "opacity-100"
          To: "opacity-0"
      -->
      <div @opacity  class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity" aria-hidden="true"></div>
  
     
      <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>
  
      <div @opacityTranslateY *ngIf='isModal' class="relative inline-block align-bottom bg-white rounded-lg px-4 pt-5 pb-4 text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full sm:p-6">
        <div class="sm:flex sm:items-start">
          <div class="mx-auto flex-shrink-0 flex items-center justify-center h-12 w-12 rounded-full bg-red-100 sm:mx-0 sm:h-10 sm:w-10">
            <!-- Heroicon name: outline/exclamation -->
            <svg class="h-6 w-6 text-red-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z" />
            </svg>
          </div>
          <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
            <h3 class="text-lg leading-6 font-medium text-gray-900" id="modal-title">Delete your account</h3>
            <div class="mt-2">
              <p class="text-sm text-gray-500">Are you sure you want to delete your account? 
                  <br> All of your data will be permanently removed from our servers forever. This action cannot be undone.
                <br>
                <br>
                  <strong class="text-red-500">Your websites WILL NOT BE DELETED</strong> 
                  <br> <br>
                  If you wish to delete the websites before deleting your account, you can do so in the 
                  <strong>"Your websites"</strong> section.

                </p>
            </div>
          </div>
        </div>
        <div class="mt-5 sm:mt-4 sm:flex sm:flex-row-reverse">
          <button type="button" (click)="delete()" routerLink="/home" class="w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-red-500 text-base font-medium text-white hover:bg-red-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-white sm:ml-3 sm:w-auto sm:text-sm">Delete forever</button>
          <button type="button" (click)="toggleModal()" class="mt-3 w-full inline-flex justify-center rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-base font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:mt-0 sm:w-auto sm:text-sm">Cancel</button>
        </div>
      </div>
    </div>