<app-navbaroffline *ngIf="getSessionInfos() == null"></app-navbaroffline>
<app-navbaronline *ngIf="getSessionInfos() != null"></app-navbaronline>


<div class="w-full mt-20 bg-slate-900 text-gray-200 flex flex-col sm:justify-center items-center pt-6 sm:pt-0">
    <div class="w-full sm:max-w-md p-5 mx-auto">
      <h2 class="mb-12 text-center text-5xl font-extrabold">Add your website to the pool and get visitors. </h2>
      <form>
        <div class="mb-4">
          <label class="block mb-1" for="email">Your website's url</label>
          <input [(ngModel)]="input.url" placeholder="https://www.website.com" id="url" type="text" name="url" class="text-gray-800 py-2 px-3 border border-gray-300 focus:border-red-300 focus:outline-none focus:ring focus:ring-red-200 focus:ring-opacity-50 rounded-md shadow-sm  mt-1 block w-full" />
        </div>
        
        
        <div class="mt-6">
          <a (click)="login()"  class="cursor-pointer w-full inline-flex items-center justify-center px-4 py-2 bg-green-600 border border-transparent rounded-md font-semibold capitalize text-white hover:bg-green-700 active:bg-green-700 focus:outline-none focus:border-red-700 focus:ring focus:ring-red-200 disabled:opacity-25 transition">
              Add</a>
        </div>
        <div class="mt-6 text-center italic text-gray-300">
          <!-- help -->

        </div>
      </form>
    </div>
  </div>